
{% load static %}
<!DOCTYPE html>

<html >
<head>
  <meta charset="UTF-8">
  <title>Bienbenido</title>
  <link href="https://file.myfontastic.com/eX9EJvWQNgpLFYLDwUG8tf/icons.css" rel="stylesheet">



      <link rel="stylesheet" href="{% static 'css/style.css'%}">


</head>

<body>
  <a href="{% url 'Logout' %}">cerrar secion</a>
  <section class='photo_container'>
	<section class='photo_header'>
		<img src="https://instagram.fbog2-1.fna.fbcdn.net/t51.2885-19/s150x150/19424856_1220219384771948_4505404857959579648_a.jpg" class='photo_user'>
		<h3 class='photo_username'>electrocaro07</h3>
	</section>
	<section class='photo_image'>
		<img src='https://i.pinimg.com/736x/cc/8a/4c/cc8a4c1c2f66d6696814e3fa5f4ee634.jpg'>
	</section>
	<section class='photo_icons'>
		<i class="acm-heart-empty"></i>
		<i class="acm-comment"></i>
	</section>
	<h5 class='photo_likes'><span>43,294</span> Me gusta</h5>
	<section class='photo_comments'>
		<section class='photo_comment'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui distinctio in nobis.</section>
		<section class='photo_comment'>Lorem ipsum dolor sit amet consectetur.</section>
		<section class='photo_comment'>Lorem ipsum dolor sit amet</section>
		<section class='photo_comment'>Lorem ipsum dolor sit amet consectetur adipisicing elit.</section>
	</section>
	<section class='photo_add_comment'>
		<input placeholder='Agrega un comentario...'>
		<i class='acm-dots'></i>
	</section>
</section>


</body>
</html>
