{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>inicio</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">



</head>

<body>
  <center><h4>instagram</h4>
  <div class="creation"> <hr>
  <input type="text" placeholder="correo electronico"><p>
  <input type="text" placeholder="nombre completo"><p>
  <input type="text" placeholder="nombre de usuario"><p>
  <input type="password" placeholder="contraseña"><p>
  </div>
  <input type="submit"value"registrarse"><p>
  </center>


</body>
</html>
