body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #F8F9F9;
  font-family: arial;
}

.photo_container {
  width: 300px;
  background: white;
  border: 1px solid #ccc;
}

.photo_container .photo_username {
  padding: 10px;
  width: 100px;
  font-family: david;
}

.photo_container .photo_header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.photo_container .photo_lnput {
  padding: 10px;
  padding-top: 16px;
  margin: 5px 0;
}

.buttom {
  width: 210px;
  font-size: 94%;
  background: red;
  border-radius: 3px;
  padding: 3px;
  margin: 2px;
  color: white;
  border: 1px solid #ccc;
}

.photo_container .photo_add {
  padding-top: 1px;
  font-size: 1.04rem;
  margin: 5px 0;
  border-radius: 50px;
}

.photo_container .photo_text {
  -webkit-box-align: 10px;
      -ms-flex-align: 10px;
          align-items: 10px;
  height: 80px;
}
