.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #ddd;
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
}
.navbar .logo-section {
  display: flex;
  align-items: center;
}
.navbar .logo-section div {
  align-self: stretch;
  width: 1px;
  background: black;
  margin: 0 20px;
}
.navbar .icons-section .fa {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  margin: 0 10px;
}
.navbar .logo {
  width: 30px;
}
.navbar .logo_name {
  width: 150px;
}
.navbar .input-search {
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #ddd;
  outline: 0;
}
.navbar .input-search:focus {
  text-align: left;
}
